#downloadBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 52px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter; /* Body */
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFFFF; /* white */
  background: #8353E2FF; /* secondary-500 */
  opacity: 1;
  border: none;
  border-radius: 4px; /* border-m */
}

#downloadBtn:hover {
  color: #FFFFFFFF; /* white */
  background: #723CDEFF; /* secondary-550 */
}

#downloadBtn:active {
  color: #FFFFFFFF; /* white */
  background: #6025D8FF; /* secondary-600 */
}

#downloadBtn:disabled {
  opacity: 0.4;
}
